<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="${account.nickname}+'님의 관심도서 목록'"></h2>
    </div>
    <div class="row justify-content-center pt-3">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-4" th:each="favorBook: ${favorBookList}">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="${favorBook.book.img}" class="card-img-top" th:alt="${favorBook.book.name}" width="400" height="400">
                        <div class="card-body">
                            <h5 class="card-title context" th:text="${favorBook.book.name}"></h5>
                            <p th:if="${favorBook.book.subName!=null}" class="card-text" th:text="${favorBook.book.subName}"></p>
                            <p class="card-text context">
                                <span th:each="tag : ${favorBook.book.tag}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                    <a th:href="@{'/search/tag/' + ${tag}}" class="text-decoration-none text-white">
                                        <i class="fa fa-tag"></i> <span th:text="${tag}">Tag</span>
                                    </a>
                                </span>
                                <br/>
                                <span th:each="category: ${favorBook.book.detailCategory}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                    <a th:href="@{'/book/category/' + ${favorBook.book.detailCategory}}" class="text-decoration-none text-white">
                                        <i class="fas fa-th-list"></i> <span th:text="${category}" class="text-white">City</span>
                                    </a>
                                </span>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <i class="fa fa-user-circle"></i>
                                    <span th:text="${favorBook.book.author}"></span> 저
                                </small>
                            </div>
                            <hr/>
                            <div class="text-center">
                                <button type="button" th:id="${favorBook.book.name}" onclick="favorBook.delete_btn(this.id)" class="btn btn-danger btn-sm favorBookDelete_btn">관심도서 삭제하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: form-validation"></script>
<script th:replace="book-fragments.html :: favorBook-event"></script>
</body>
</html>