<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2>독서록 상세</h2>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <img th:src="${bookReview.book.img}">
        </div>

        <div class="col-6">
            <div class="row">
                <h3 class="col-sm-10" th:text="${bookReview.book.name}"></h3>
            </div>
            <hr/>
            <div class="jumbotron">
                <h4 class="display-6" th:text="${bookReview.title}"></h4>
                <hr class="my-4">
                <p th:utext="${bookReview.content}"></p>
                <hr class="my-4">
                <div class="text-center" th:if="${isOwner}">
                    <a class="btn btn-primary" th:href="@{'/bookReview/update/'+${bookReview.id}}" role="button">수정</a>
                    <a class="btn btn-danger" th:href="@{'/bookReview/delete/'+${bookReview.id}}" role="button">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>