<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="${nickname}+'님의 독서록 목록'"></h2>
    </div>
    <div class="row justify-content-center pt-3">
        <div class="col-sm-8">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">완료</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-4" th:each="bookReview: ${bookReviewList}">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="${bookReview.book.img}" class="card-img-top" th:alt="${bookReview.book.name}">
                        <div class="card-body">
                            <a th:href="@{'/bookReview/detail/' + ${bookReview.id}}" class="text-decoration-none">
                                <h5 class="card-title context" th:text="${bookReview.book.name}"></h5>
                            </a>
                            <p class="card-text" th:text="'제목: ' +${bookReview.title}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <i class="fa fa-user-circle"></i>
                                    <span th:text="${#authentication.name}"></span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments.html :: footer"></footer>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>