<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">

    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html :: settings-menu(currentMenu='profile')"></div>
        </div>

        <div class="col-6">
            <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                <span th:text="${message}">메시지</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="row">
                <h2 class="col-sm-12">공개 프로필</h2>
            </div>
            <hr/>

            <div class="row mt-3">
                <form class="col-sm-6" th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
                    <div class="form-group">
                        <label for="bio">한줄 소개</label>
                        <input id="bio" type="text" th:field="*{bio}" class="form-control" placeholder="한줄 소개를 작성하세요." aria-describedby="bioHelp" required>
                        <small id="bioHelp" class="form-text text-muted">
                            한줄 소개를 짧게 입력해주세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
                            더 짧게 입력해주세요.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="location">지역</label>
                        <input id="location" type="text" th:field="*{location}" class="form-control" placeholder="지역을 입력하세요." aria-describedby="locationHelp" required>
                        <small id="locationHelp" class="form-text text-muted">
                            사는 지역을 입력해주세요.
                        </small>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>